{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "no-unused-vars": "warn"
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ]
}