{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "react-hooks"
    ],
    "rules": {
        "no-unused-vars": "warn",
        "object-curly-spacing": [2, "never"],
        "react/prop-types": 0,
        "no-case-declarations": 0,
        "sort-imports": ["error", {
            "ignoreCase": false,
            "ignoreDeclarationSort": true,
            "ignoreMemberSort": false,
            "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
        }],
        "semi": [2, "always"],
        "quotes": ["error", "double"]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ]
}