body {
    background: linear-gradient(265deg, rgb(104, 230, 197), rgb(169, 136, 175)) 0% 200%;

    .ui.menu {
        height: 70px;
        border-radius: 0;
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;

        .item.logo:hover {
            background: white;
        }
    }

    .loading-overlay {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background: black;
        opacity: .4;
        z-index: 1;

        div.loader {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}
