@import "_Variables";
@import "_Mixins";

#app {
    position: relative;
    padding-bottom: 100px;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    background: #C4C4C4;
    width: 100%;
    border-top: 1px solid rgba(34,36,38,.15);

    .copyright {
        text-align: right;
        padding-right: 40px;
        padding-top: 26px;
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .4;
    z-index: 1;

    div.loader {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
